h1{
    color: #333;
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    text-decoration-line: underline;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: greenyellow;
}
section{
    display: grid;
    grid-template-columns: (2fr);
    gap: 20px;
}


    